*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin: 7px;
}
.head{
    width: 80%;
    margin: auto;
    background-color:rgb(7, 110, 110);
    color:white;
    text-align: center;
    justify-content: center;
    padding: 15px;
}
.container{
    width: 80%;
    margin: auto;
}
table{
    border: 2px solid black;
    text-align: left;
    line-height: 20px;
    border-collapse: separate;
    border-spacing: 0;
       
}
thead tr:first-child {

    background: lightgrey;
    color: #fff;
    border: none;
    line-height: 60px;
  }
  /* header naming css */
  thead tr th:last-child {
    text-align: center;
    line-height: 50px;
  }
  thead tr th:nth-child(3) {
    padding-left: 60px;
   
  }

  th:first-child,
  td:first-child {
    padding: 0 20px 0 20px;
  }

tr{
    border: 1px solid rgb(109, 103, 103);
    border-collapse: collapse;
   
}
tr:hover{
    background-color: rgba(163, 157, 157, 0.918);
    cursor: default;
}
 th {
        font-weight: bold;
}

thead tr:last-child th {
        border-bottom: 1px solid rgb(66, 64, 64);
}
th,td{
    padding: 5px;
   
}
td{
    margin: 2px;
    /* padding: 2px; */
}

.checked{
    color: darkgreen;
}
.unchecked{
    color: red;
}

.fa-pencil , .fa-trash{
    color: gray;
    text-decoration: none;
}
.fa-pencil:hover , .fa-trash:hover{
    color:blue;
    text-decoration: none;
}
tbody tr:last-child td {
    border: none;
  }
  tbody tr td:nth-child(1) {
    width: 103px;
  }
  tbody tr td:nth-child(2) {
    /* width: 500px; */
width: 827px;
    padding-right: 10px;
  }
  tbody tr td:nth-child(3) {
    padding-left: 50px;
    width: 440px;

  }
  tbody tr td:nth-child(4) {
    width: 103px;
  }
  tbody tr td:nth-child(5) {
    width: 315px;
  }
  /* line in betwwen table  */
  tbody td {
    border-bottom: 1px solid rgb(54, 50, 50);
    height: 50px;
  }

  td:last-child {
    text-align: center;
  }
a{
    color: grey;
    text-decoration: none;
}
td{
    font-size: 18px;
}

@media (max-width:767px) {
   
    .head{
        width: 80%;
        margin: auto;
        background-color:rgb(7, 110, 110);
        color:white;
        text-align: center;
        justify-content: center;
        padding: 15px;
    }
    .container{
        width: 80%;
        margin: auto;
    }
    table{
        border: 2px solid black;
        text-align: left;
        line-height: 20px;
        border-collapse: separate;
        border-spacing: 0;
           
    }
    thead tr:first-child {
   
        background: lightgrey;
        color: #fff;
        border: none;
        line-height: 60px;
      }
      /* header naming css */
      thead tr th:last-child {
        text-align: center;
        line-height: 50px;
      }
      thead tr th:nth-child(3) {
        padding-left: 60px;
       
      }
   
      th:first-child,
      td:first-child {
        padding: 0 20px 0 20px;
      }
   
    tr{
        border: 1px solid darkgrey;
        border-collapse: collapse;
       
    }
    tr:hover{
        background-color: lightgrey;
    }
    th {
        font-weight: bold;
}

thead tr:last-child th {
        border-bottom: 1px solid rgb(66, 64, 64);
}
    th,td{
        padding: 5px;
    }
    .checked{
        color: darkgreen;
    }
    .unchecked{
        color: red;
    }
    .fa-pencil , .fa-trash{
        color: gray;
        text-decoration: none;
    }
    .fa-pencil:hover , .fa-trash:hover{
        color:blue;
        text-decoration: none;
    }
    tbody tr:last-child td {
        border: none;
      }
      tbody tr td:nth-child(1) {
        width: 103px;
      }
      tbody tr td:nth-child(2) {
        /* width: 500px; */
    width: 827px;
        padding-right: 10px;
      }
      tbody tr td:nth-child(3) {
        padding-left: 50px;
        width: 440px;
   
      }
      tbody tr td:nth-child(4) {
        width: 103px;
      }
      tbody tr td:nth-child(5) {
        width: 315px;
      }
      /* line in betwwen table  */
      tbody td {
        border-bottom: 1px solid rgb(54, 50, 50);
        height: 50px;
      }
   
      td:last-child {
        text-align: center;
      }
    a{
        color: grey;
        text-decoration: none;
    }
    td{
        font-size: 18px;
    }
}

@media (max-width:499px) {
    .main{
        margin: 7px;
    }
    .head{
        width: 80%;
        margin: auto;
        background-color:rgb(7, 110, 110);
        color:white;
        text-align: center;
        justify-content: center;
        padding: 15px;
    }
    .container{
        width: 80%;
        margin: auto;
    }
    table{
        border: 2px solid black;
        text-align: left;
        line-height: 20px;
        border-collapse: separate;
        border-spacing: 0;
           
    }
    thead tr:first-child {
   
        background: lightgrey;
        color: #fff;
        border: none;
        line-height: 60px;
      }
      /* header naming css */
      thead tr th:last-child {
        text-align: center;
        line-height: 50px;
      }
      thead tr th:nth-child(3) {
        padding-left: 60px;
       
      }
   
      th:first-child,
      td:first-child {
        padding: 0 20px 0 20px;
      }
   
    tr{
        border: 1px solid rgb(109, 103, 103);
        border-collapse: collapse;
       
    }
    tr:hover{
        background-color: rgba(163, 157, 157, 0.918);
    }
    th {
        font-weight: bold;
}

thead tr:last-child th {
        border-bottom: 1px solid rgb(66, 64, 64);
}
    th,td{
        padding: 5px;
    }
    .checked{
        color: darkgreen;
    }
    .unchecked{
        color: red;
    }
    .fa-pencil , .fa-trash{
        color: gray;
        text-decoration: none;
    }
    .fa-pencil:hover , .fa-trash:hover{
        color:blue;
        text-decoration: none;
    }
    tbody tr:last-child td {
        border: none;
      }
      tbody tr td:nth-child(1) {
        width: 103px;
      }
      tbody tr td:nth-child(2) {
        /* width: 500px; */
    width: 827px;
        padding-right: 10px;
      }
      tbody tr td:nth-child(3) {
        padding-left: 50px;
        width: 440px;
   
      }
      tbody tr td:nth-child(4) {
        width: 103px;
      }
      tbody tr td:nth-child(5) {
        width: 315px;
      }
      /* line in betwwen table  */
      tbody td {
        border-bottom: 1px solid rgb(54, 50, 50);
        height: 50px;
      }
   
      td:last-child {
        text-align: center;
      }
    a{
        color: grey;
        text-decoration: none;
    }
    td{
        font-size: 18px;
    }
}
